= bootstrap_form_for(@work, remote: true) do |f|
  - if @work.errors.any?
    #error_explanation
      %h2
        = pluralize(@lead.errors.count, "error")
        prohibited this Work from being saved:
      %ul
        - @work.errors.full_messages.each do |message|
          %li= message
  .row
    .col-md-3.required
      .form-group
        = f.text_field :name, class: "form-control", placeholder: "Name"
    .col-md-3.required
      .form-group
        = f.select :status_id, options_from_collection_for_select(Status.all, :id, :name, f.object.status_id), {prompt: true, label: 'State'}, class: 'form-control multiselect', required: true
    .col-md-3.required
      = f.datetime_field :deadline, class: "form-control ", placeholder: "DeadLine"
  %div{align: "center"}
    .col-md-12
      .form-group
        = button_tag type: "submit", class: "btn btn-primary", data: {disable_with: "Please Wait..."} do
          = fa_icon "floppy-o"
          Save
        = link_to works_path, class: "btn btn-danger" do
          = fa_icon "close"
          Cancel